<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <title>COVID'19 Transporter</title>
    <script src="/send_url.js"></script>
    <link rel= "stylesheet" href="/css/style2.css">
  </head>
  <body>
    <div class="box">
        <nav class="nav-wrapper black">
            <div class="container">
                <a class="brand-logo"><small>COVID'19 Transporter</small></a>
                <a href="#" class="sidenav-trigger" data-target="mobile-links">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Login</a></li>
                    
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Login</a></li>
            
        </ul>
        <br><br><br><br><br>
        <div style="text-align: center;">
            <div style="font-family: timeburner;font-size:10vw; display: inline-block;">
                <b>Transporter</b>
            </div><br>
            <div style="font-family: timeburner;font-size:1.5vw;color: rgb(70, 69, 70); display: inline-block;">
                Register yourself to reach home.
            </div>


        <br>
        <div class="box">
          <p class="pi" style="text-align: center;font-family: timeburner;font-size: 2vw; color: white;">
          <a href="/new" class="btn-small black">Register Here</a>
          </p>
        </div>
        <br><br><br><br>
    </div>
    <footer class="page-footer grey">
        <div class="container grey">
            <div class="row">
                <div class="col s12 l6">
                    <h6>About Us </h6>
                    <p class="foot">We are the group of web and graphics enthusiasts, passionate for persuing technologies in an ever dynamic realm of creativity with a purview to spread the same.</p>
                </div>
                <div class="col s12 l8">
                    <h6>Contact Us-</h6>
                    <img height="24px" class ="ico" src="/images/facebook.png">
                    <img height="24px" class ="ico" src="/images/twitter.png">
                    <img height="24px" class ="ico" src="/images/whatsaap.svg">
                    <img height="24px" class ="ico" src="/images/insta.png">
                </div>
            </div>
        </div><br>
    </footer>
    <div class="black" style="margin-top: -20px;color: white; font-weight: bold;text-align: center;">Developed by zews x gawds</div>



    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $(document).ready(function(){$('.sidenav').sidenav();})
    </script>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>
</html>
